@charset "utf-8";
$base: (
    font-path: "~src/styles/font/",
);
@import "ruicss/sass/index.scss";
@include rui-header(
    $name:"vue-lego",
    $bgcolor: transparent,
    $color: #423d3d
){
    border-bottom: 1px solid #eee;
    .back{
        color:#423d3d;
        font-size: .25rem;
    }
};
@include rui-btn(
    $border-width: 0,
    $border-color: #07c160,
    $bgcolor: #07c160,
    $active-bgcolor :#07c160,
    $active-border-color: #07c160
);
@include rui-list(
    $has-last-border : true,
    $border-color: #c7c8cc,
    $color: #666,
    $item-padding : .1rem,
    $item-border-width: 1px,
    $active-bgcolor: #fff,
    $label-padding: 0 .1rem,
    $label-font-size: .14rem,
    $item-bgcolor: #fafafa,
    $label-bgcolor: #fafafa
){
    >.item{
        margin: .15rem .1rem;
        &::after{
            border-radius: .5rem;
        }
    }
};
