.flex[data-v-22add73e]{background-color:#fff}.bd .title[data-v-22add73e]{font-weight:800;padding:.1rem 0;color:#404040;background-color:#fff}.bd .title .label[data-v-22add73e]{font-size:.18rem;background-color:#fff}.bd .title[data-v-22add73e]::after{border:0}

