

@mixin vue-logo-base($theme, $name) {
  $color: map-variable-get($theme, btn, #{$name}-color);
  $main-color: map-variable-get($theme, btn, #{$name}-bgcolor);
  $border-color: map-variable-get($theme, btn, #{$name}-border-color);
  $active-bgcolor: map-variable-get($theme, btn, #{$name}-active-bgcolor);
  @include rui-btn(
    $name: #{$theme}-#{$name},
    $color: $color,
    $bgcolor: $main-color,
    $border-color: $border-color,
    $height: $default-height,
    $padding: $default-padding,
    $font-size: $default-font-size,
    $active-border-color: rgba($color: $border-color, $alpha: .8),
    $active-bgcolor: rgba($color: $active-bgcolor, $alpha: .8)
  ){
    &::after {
      box-sizing: border-box;
    }
    &.vue-lego-btn-loading .loading-wheel {
      border: 1px solid $color;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    &.vue-lego-btn-disabled {
      &, &:active {
        color: rgba($color: $color, $alpha: .5);
        background-color: rgba($color: $main-color, $alpha: .5);
        &::after {
          border-color: rgba($color: $border-color, $alpha: .5);
        }
      }
    }
  };
}

@include vue-logo-base(
  $theme: blue,
  $name: primary
);

@include vue-logo-base(
  $theme: blue,
  $name: success
);

@include vue-logo-base(
  $theme: blue,
  $name: ghost
);

@include vue-logo-base(
  $theme: green,
  $name: primary
);

@include vue-logo-base(
  $theme: green,
  $name: success
);

@include vue-logo-base(
  $theme: green,
  $name: ghost
);


@include rui-btn(
  $name: "round",
  $radius: $default-round-radius
){
  border-radius: $default-round-radius;
};


@include rui-btn(
  $name: "long",
  $width: 100%
);

@include rui-btn(
  $name: "large",
  $width: 100%,
  $font-size: $large-font-size,
  $height: $large-height,
){
  &.vue-lego-btn-round {
    border-radius: $large-height;
    &::after {
      @include responsive(retina1x) {
        border-radius: $large-height * 1;
      }
      @include responsive(retina2x) {
        border-radius: $large-height * 2;
      }
      @include responsive(retina3x) {
        border-radius: $large-height * 3;
      }
    }
  }
};

@include rui-btn(
  $name: "loading"
){
  cursor: not-allowed;
  touch-action: none;
  .loading-container{
    display: inline-block;
    height: $loading-size;
  }
  .loading-wheel {
    width: $loading-size;
    height: $loading-size;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    @include animation(rotate 1s infinite linear);
  }
};