
$default-height: .32rem;
$default-padding: 0 .27rem;
$default-font-size: .13rem;

$default-color: #333;
$default-bgcolor: #fff;;
$default-active-bgcolor: #dedede;
$default-border-color: #dcdee2;

$primary-color: #fff;
$primary-bgcolor: #3790ff;
$primary-ghost-color: #3790ff;

$success-color: #fff;
$success-bgcolor: #01c777;
$success-ghost-color: #01c777;

$plain-bgcolor: #fff;
$round-radius: .17rem;

$medium-padding: 0 .5rem;

$large-height: .44rem;
$large-font-size: .17rem;

$loading-size: .13rem;

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.r-vue-lego-button {
  @include _btn;
  height: $default-height;
  line-height: $default-height;
  padding: $default-padding;
  font-size: $default-font-size;
  color: $default-color;
  background-color: $default-bgcolor;
  &::after {
    box-sizing: border-box;
    border-color: $default-border-color;
  }
  &:active {
    background-color: $default-active-bgcolor;
    &::after {
      border-color: $default-border-color;
    }
  }
}

@include rui-btn(
  $name: "default",
  $color: $default-color,
  $height: $default-height,
  $padding: $default-padding,
  $bgcolor: $default-bgcolor,
  $active-bgcolor: $default-active-bgcolor,
  $border-color: $default-border-color,
  $active-border-color: $default-border-color,
  $font-size: $default-font-size,
){
  &.rui-btn-loading .loading-wheel {
    border: 1px solid $default-color;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &.rui-btn-disabled {
    &,&:active {
      color: rgba($color: $default-color, $alpha: .5);
      background-color: rgba($color: $default-bgcolor, $alpha: .5);
      &::after {
        border-color: rgba($color: $default-border-color, $alpha: .5);

      }
    }
  }
};

@include rui-btn(
  $name: "primary",
  $color: $primary-color,
  $height: $default-height,
  $padding: $default-padding,
  $bgcolor: $primary-bgcolor,
  $font-size: $default-font-size,
  $border-color: $primary-bgcolor,
  $border-width: 0,
  $active-border-color: rgba($color: $primary-bgcolor, $alpha: .8),
  $active-bgcolor: rgba($color: $primary-bgcolor, $alpha: .8)
){
  &.rui-btn-loading .loading-wheel {
    border: 1px solid $primary-color;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &.rui-btn-disabled {
    &,&:active {
      color: rgba($color: $primary-color, $alpha: .5);
      background-color: rgba($color: $primary-bgcolor, $alpha: .5);
      &::after {
        border-color: rgba($color: $primary-bgcolor, $alpha: .5);

      }
    }
  }
};


@include rui-btn(
  $name: "primary-ghost",
  $color: $primary-ghost-color,
  $height: $default-height,
  $padding: $default-padding,
  $bgcolor: $default-bgcolor,
  $font-size: $default-font-size,
  $border-color: $primary-bgcolor,
  $active-border-color: rgba($color: $primary-bgcolor, $alpha: .8),
  $active-bgcolor: rgba($color: $primary-bgcolor, $alpha: .8)
){
  &.rui-btn-loading .loading-wheel {
    border: 1px solid $primary-ghost-color;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &.rui-btn-disabled {
    &,&:active {
      color: rgba($color: $primary-ghost-color, $alpha: .5);
      background-color: rgba($color: $default-bgcolor, $alpha: .5);
      &::after {
        border-color: rgba($color: $primary-bgcolor, $alpha: .5);

      }
    }
  }
};

@include rui-btn(
  $name: "success",
  $color: $success-color,
  $height: $default-height,
  $padding: $default-padding,
  $bgcolor: $success-bgcolor,
  $font-size: $default-font-size,
  $border-color: $success-bgcolor,
  $border-width: 0,
  $active-border-color: rgba($color: $success-bgcolor, $alpha: .8),
  $active-bgcolor: rgba($color: $success-bgcolor, $alpha: .8)
){
  &.rui-btn-loading .loading-wheel {
    border: 1px solid $success-color;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &.rui-btn-disabled {
    &,&:active {
      color: rgba($color: $success-color, $alpha: .5);
      background-color: rgba($color: $success-bgcolor, $alpha: .5);
      &::after {
        border-color: rgba($color: $success-bgcolor, $alpha: .5);

      }
    }
  }
};

@include rui-btn(
  $name: "success-ghost",
  $color: $success-ghost-color,
  $height: $default-height,
  $padding: $default-padding,
  $bgcolor: $default-bgcolor,
  $font-size: $default-font-size,
  $border-color: $success-bgcolor,
  $active-border-color: rgba($color: $success-bgcolor, $alpha: .8),
  $active-bgcolor: opacify($color:$success-bgcolor, $amount: 0.8)
){
  &.rui-btn-loading .loading-wheel {
    border: 1px solid $success-ghost-color;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &.rui-btn-disabled {
    &,&:active {
      color: rgba($color: $success-ghost-color, $alpha: .5);
      background-color: rgba($color: $default-bgcolor, $alpha: .5);
      &::after {
        border-color: rgba($color: $success-bgcolor, $alpha: .5);

      }
    }
  }
};

@include rui-btn(
  $name: "round",
  $radius: $round-radius
);

@include rui-btn(
  $name: "long",
  $width: 100%
);

@include rui-btn(
  $name: "large",
  $width: 100%,
  $font-size: $large-font-size,
  $height: $large-height,
){
  &.rui-btn-round::after {
    @include responsive(retina1x) {
      border-radius: $large-height * 1;
    }
    @include responsive(retina2x) {
      border-radius: $large-height * 2;
    }
    @include responsive(retina3x) {
      border-radius: $large-height * 3;
    }
  }
};

@include rui-btn(
  $name: "medium",
  $padding: $medium-padding
);

@include rui-btn(
  $name: "loading"
){
  cursor: not-allowed;
  touch-action: none;
  .loading-container{
    display: inline-block;
    height: $loading-size;
  }
  .loading-wheel {
    width: $loading-size;
    height: $loading-size;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: loading-spin 690ms infinite linear;
  }
};
