@include rui-dialog(
  $border-color: #D8D9DC,
  $bd-padding: .2rem,
){
  position: absolute;
  top: 0px;
  z-index: 10010;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.r-vue-lego-dialog {
  .icon-wrap {
    margin-bottom: .1rem;
    .circle-bg{
      width: .44rem;
      height: .44rem;
      line-height: .44rem;
      background-color: #fa5d5d;
      border-radius: 50%;
      display: inline-block;
      align-items: center;
      justify-content: center;
      margin: .15rem auto 0 auto;
      color: #fff;
      font-size: .2rem;
    }
    .sucess{
      background-color: #42C905;
      color: #fff;
      font-size: .18rem;
    }
    .info{
      background-color: #508CF0;
      color: #fff;
      font-size: .18rem;
    }
  } 
  .close-btn{
    position: absolute;
    right: .1rem;
    top: 0;
  }
}