@include rui-header(
  $name:"picker",
  $bgcolor:#f6f7f7,
  $height: .24rem,
  $font-size: .14rem
){
  text-align: center;
  padding: .1rem .2rem;
};

.r-vue-lego-picker{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .vue-lego-popup-picker{
    position: fixed;
    bottom: 0;
    z-index: 100010;
  }
  .popup-regret{
    float: left;
  }
  .popup-title{
    font-weight: 800;
    font-size: .16rem;
  }
  .popup-affirm{
    float: right;
  }
}

.r-vue-lego-blue-picker {
  .popup-affirm{
    color: map-variable-get(blue, dialog, btn-color);
  }
}

.r-vue-lego-green-picker {
  .popup-affirm{
    color: map-variable-get(green, dialog, btn-color);
  }
}