.picker {
  z-index: 1000;
	.picker-content li{
		font-size: .14rem;
	}
}

.r-vue-lego-blue-picker {
  .picker-panel .picker-choose {
    .cancel {
      color: map-variable-get(blue, dialog, btn-color) !important;
    }
    .confirm {
      color: map-variable-get(blue, dialog, btn-color) !important;
    }
	}
}

.r-vue-lego-green-picker {
  .picker-panel .picker-choose {
    .cancel {
      color: map-variable-get(green, dialog, btn-color) !important;
    }
    .confirm {
      color: map-variable-get(green, dialog, btn-color) !important;
    }
	}
}