
// for btn default
$btn-height: .32rem;
$btn-padding: 0 .27rem;
$btn-fontSize: .13rem;
$btn-color: #fff;
$btn-active-bgColor: #dedede;
$btn-active-borderColor: #dcdee2;
$btn-round-radius: .17rem;
$btn-large-height: .44rem;
$btn-large-fontSize: .17rem;
$btn-small-height: .22rem;
$btn-small-fontSize: .12rem;
$btn-loading-size: .14rem;

// for toast default
$toast-info-bgColor: #508CF0;
$toast-success-bgColor: #07c160;
$toast-error-bgColor: #fa5d5d;

// for dialog default
$toast-sucess-bgColor: #42C905;
$toast-info-bgColor: #508CF0;

// for picker default
$picker-cancel-color: #00B26D;
$picker-comfirm-color: #00B26D;

@function map-variable-get($theme, $el, $key) {
  $theme: map-get($themes, $theme); 
  @each $label, $color in $theme {
    $cur-label: #{$el}-#{$key};
    @if $cur-label == $label {
      @return $color;
    }
  }
  @return '';
};

$themes: (
  blue: (
    // for btn
    btn-round-radius:  .17rem,
    btn-primary-bgcolor: #3790ff,
    btn-primary-active-bgcolor: #3790ff,
    btn-primary-color: #fff,
    btn-primary-border-color: #3790ff,
    btn-success-bgcolor: #01c777,
    btn-success-active-bgcolor: #01c777,
    btn-success-color: #fff,
    btn-success-border-color: #01c777,
    btn-ghost-bgcolor: #fff,
    btn-ghost-active-bgcolor: #3790ff,
    btn-ghost-color: #3790ff,
    btn-ghost-border-color: #3790ff,

    // for dialog
    dialog-btn-color: #3790ff,

    // for picker
    picker-btn-color: #3790ff
  ),
  green: (
    // for btn
    btn-round-radius:  .17rem,
    btn-primary-bgcolor: #01c777,
    btn-primary-active-bgcolor: #01c777,
    btn-primary-color: #fff,
    btn-primary-border-color: #01c777,
    btn-success-bgcolor: #D92E2E,
    btn-success-active-bgcolor: #D92E2E,
    btn-success-color: #fff,
    btn-success-border-color: #D92E2E,
    btn-ghost-bgcolor: #fff,
    btn-ghost-active-bgcolor: #01c777,
    btn-ghost-color: #01c777,
    btn-ghost-border-color: #01c777,

    // for dialog
    dialog-btn-color: #01c777,

    // for picker
    picker-btn-color: #01c777,
  ),
);